[Unit]
Description=Privacy Guard Server

[Service]
User=security_fw
Group=security_fw
Type=simple
ExecStart=/usr/bin/privacy-guard-server
Sockets=privacy-guard-server.socket
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
