[Unit]
Description=Privacy Guard Socket

[Socket]
SocketUser=security_fw
SocketGroup=security_fw
ListenStream=/tmp/privacy_guard_server
SocketMode=0777

Service=privacy-guard-server.service

[Install]
WantedBy=sockets.target
